@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap);
.wideButton {
  min-width: 200px;
}

.card {
  padding: 15px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.emailsInput {
  width: 500px;
}

@font-face {
  font-family: 'icomoon';
  src: url(../../static/media/icomoon.029bc45f.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowDown-24:before {
  content: '\e900';
}
.icon-arrowRight-24:before {
  content: '\e901';
}
.icon-arrowUp-24:before {
  content: '\e902';
}
.icon-bell-24:before {
  content: '\e903';
}
.icon-birthday-24:before {
  content: '\e904';
}
.icon-calendar-24:before {
  content: '\e905';
}
.icon-caretLeft-24:before {
  content: '\e906';
}
.icon-caretRight-24:before {
  content: '\e907';
}
.icon-changePassword-24:before {
  content: '\e908';
}
.icon-checkCircleOutlined-24:before {
  content: '\e909';
}
.icon-clock-24:before {
  content: '\e90a';
}
.icon-clone-24:before {
  content: '\e90b';
}
.icon-copyText-24:before {
  content: '\e90c';
}
.icon-corporate-24:before {
  content: '\e90d';
}
.icon-crown-24:before {
  content: '\e90e';
}
.icon-delete-24:before {
  content: '\e90f';
}
.icon-download-24:before {
  content: '\e910';
}
.icon-events-24:before {
  content: '\e911';
}
.icon-guestsInviteGuests-24:before {
  content: '\e912';
}
.icon-headphones-24:before {
  content: '\e913';
}
.icon-headphonesWithMic-24:before {
  content: '\e914';
}
.icon-heartFilled-24:before {
  content: '\e915';
}
.icon-hostsAddSections-24:before {
  content: '\e916';
}
.icon-hostsInviteGuests-24:before {
  content: '\e917';
}
.icon-hostsReorderSections-24:before {
  content: '\e918';
}
.icon-location-24:before {
  content: '\e919';
}
.icon-lockedCalendar-24:before {
  content: '\e91a';
}
.icon-logOut-24:before {
  content: '\e91b';
}
.icon-m3u-24:before {
  content: '\e91c';
}
.icon-mitzvah-24:before {
  content: '\e91d';
}
.icon-musicNoteDoubleOutlined-24:before {
  content: '\e91e';
}
.icon-musicNoteSingleOutlined-24:before {
  content: '\e91f';
}
.icon-notVisible-24:before {
  content: '\e920';
}
.icon-party-24:before {
  content: '\e921';
}
.icon-plus-24:before {
  content: '\e922';
}
.icon-questionOutlined-24:before {
  content: '\e923';
}
.icon-quinceanera-24:before {
  content: '\e924';
}
.icon-refresh-24:before {
  content: '\e925';
}
.icon-scanner-24:before {
  content: '\e926';
}
.icon-schoolDance-24:before {
  content: '\e927';
}
.icon-send-24:before {
  content: '\e928';
}
.icon-settings-24:before {
  content: '\e929';
}
.icon-sweet16-24:before {
  content: '\e92a';
}
.icon-templates-24:before {
  content: '\e92b';
}
.icon-termsConditions-24:before {
  content: '\e92c';
}
.icon-user-24:before {
  content: '\e92d';
}
.icon-visible-24:before {
  content: '\e92e';
}
.icon-wedding-24:before {
  content: '\e92f';
}
.icon-appleMusic-16:before {
  content: '\e930';
}
.icon-arrowDown-16:before {
  content: '\e931';
}
.icon-arrowLeft-16:before {
  content: '\e932';
}
.icon-arrowLeftRight-16:before {
  content: '\e933';
}
.icon-arrowRight-16:before {
  content: '\e934';
}
.icon-arrowTop-16:before {
  content: '\e935';
}
.icon-birthday-16:before {
  content: '\e936';
}
.icon-bold-16:before {
  content: '\e937';
}
.icon-bulletList-16:before {
  content: '\e938';
}
.icon-caretDown-16:before {
  content: '\e939';
}
.icon-caretDownFilled-16:before {
  content: '\e93a';
}
.icon-caretLeft-16:before {
  content: '\e93b';
}
.icon-caretRight-16:before {
  content: '\e93c';
}
.icon-caretUp-16:before {
  content: '\e93d';
}
.icon-caretUpFilled-16:before {
  content: '\e93e';
}
.icon-checkedCalendar-16:before {
  content: '\e93f';
}
.icon-checkedCircleFilled-16:before {
  content: '\e940';
}
.icon-checkedFilled-16:before {
  content: '\e941';
}
.icon-checkMark-16:before {
  content: '\e942';
}
.icon-clearFormatting-16:before {
  content: '\e943';
}
.icon-close-16:before {
  content: '\e944';
}
.icon-closeCircleFilled-16:before {
  content: '\e945';
}
.icon-colapse-16:before {
  content: '\e946';
}
.icon-comment-16:before {
  content: '\e947';
}
.icon-corporate-16:before {
  content: '\e948';
}
.icon-crown-16:before {
  content: '\e949';
}
.icon-dj-16:before {
  content: '\e94a';
}
.icon-editPencil-16:before {
  content: '\e94b';
}
.icon-email-16:before {
  content: '\e94c';
}
.icon-emptyNotes-16:before {
  content: '\e94d';
}
.icon-expand-16:before {
  content: '\e94e';
}
.icon-flagFilled-16:before {
  content: '\e94f';
}
.icon-flagOutlined-16:before {
  content: '\e950';
}
.icon-folder-16:before {
  content: '\e951';
}
.icon-host-16:before {
  content: '\e952';
}
.icon-indeterminateFilled-16:before {
  content: '\e953';
}
.icon-indeterminateOutlined-16:before {
  content: '\e954';
}
.icon-infoCircleFilled-16:before {
  content: '\e955';
}
.icon-infoCircleOutlined-16:before {
  content: '\e956';
}
.icon-infoRotatedOutlined-16:before {
  content: '\e957';
}
.icon-italic-16:before {
  content: '\e958';
}
.icon-link-16:before {
  content: '\e959';
}
.icon-location-16:before {
  content: '\e95a';
}
.icon-locked-16:before {
  content: '\e95b';
}
.icon-m3u-16:before {
  content: '\e95c';
}
.icon-mitzvah-16:before {
  content: '\e95d';
}
.icon-notes-16:before {
  content: '\e95e';
}
.icon-notVisible-16:before {
  content: '\e95f';
}
.icon-numberList-16:before {
  content: '\e960';
}
.icon-party-16:before {
  content: '\e961';
}
.icon-personalComputer-16:before {
  content: '\e962';
}
.icon-phone-16:before {
  content: '\e963';
}
.icon-play-16:before {
  content: '\e964';
}
.icon-plus-16:before {
  content: '\e965';
}
.icon-public-16:before {
  content: '\e966';
}
.icon-questionCircleFilled-16:before {
  content: '\e967';
}
.icon-questionCircleOutlined-16:before {
  content: '\e968';
}
.icon-quinceanera-16:before {
  content: '\e969';
}
.icon-radioButtonOff-16:before {
  content: '\e96a';
}
.icon-radioButtonOn-16:before {
  content: '\e96b';
}
.icon-redo-16:before {
  content: '\e96c';
}
.icon-schoolDance-16:before {
  content: '\e96d';
}
.icon-search-16:before {
  content: '\e96e';
}
.icon-settings-16:before {
  content: '\e96f';
}
.icon-site-16:before {
  content: '\e970';
}
.icon-stop-16:before {
  content: '\e971';
}
.icon-sweet16-16:before {
  content: '\e972';
}
.icon-text-16:before {
  content: '\e973';
}
.icon-threeDots-16:before {
  content: '\e974';
}
.icon-threeDotsCircle-16:before {
  content: '\e975';
}
.icon-uncheckedOutlined-16:before {
  content: '\e976';
}
.icon-underline-16:before {
  content: '\e977';
}
.icon-undo-16:before {
  content: '\e978';
}
.icon-visible-16:before {
  content: '\e97a';
}
.icon-wedding-16:before {
  content: '\e97b';
}
.icon-spinner:before {
  content: '\e979';
}



:root {
  --background-grey: #eeeeee;
  --background-blue: #f4f9fe;
}

.page {
  height: 100%;
  padding: 15px;
}

.pageGrey {
  background-color: #eeeeee;
  background-color: var(--background-grey);
}

.pageBlue {
  background-color: #f4f9fe;
  background-color: var(--background-blue);
}

.desc {
  color: #8f8f8f;
  padding: 0 0 6px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #b3b3b3;
}

.extraSpace {
  height: 200px;
}

.gradientCover {
  width: 200px;
  height: 200px;
  margin: 20px 0 0 0;
}

.imageScroll {
  padding: 50px 0;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.imageWrapper {
  height: 350px;
  width: 350px;
}

.imageInfo {
  margin: 0 auto;
  font-weight: bold;
}

.input {
  width: 250px !important;
}

.listItem {
  justify-content: center;
}

.listItem .dragIcon {
  display: none;
}

.showDragIcon .dragIcon {
  display: block;
}

.listItemDraggable:not(:last-child) {
  margin: 0 0 4px 0;
}

.dragIcon {
  margin: 0 0 0 5px;
}

.menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.menu .menuIcon {
  display: none;
}

.menu.showIcons .menuIcon {
  display: block;
}

.scrollbar {
  max-width: 300px;
}

.tabs .viboTabPane {
  min-height: 200px;
}

.wizard {
  max-height: 200px;
}

.wizardControl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wizardControl .viboButton {
  margin: 0 10px 0 0;
}


/*# sourceMappingURL=main.f0787590.chunk.css.map*/